/**
* Title : JET STORM - The Video Game
* By: Abhi Upadhyay - 12 years old
* Date: 12/7/2013
**/

body{

	background: #303030;
}

img {
	display: inline;
	vertical-align: middle;


}

#canvasBg {
	display: block;
	background: #ffffff;
	margin: 0px auto 0px;

}


canvas {
	display: block;
	margin: -500px auto 0px;
}

h2 {
	display: block;
	color: hsla(178,28%,45%,1);
	color: #848482;
	font-family: "Segoe UI";
	font-size: 32px;
	margin: -775px auto 0px;
}

h3 {
	display:block;
	font-family: "Segoe UI";
	font-size: 24px;
}

p{
	display: block;
	text-align: center;
	color: #303030;
	font-family: "Segoe UI";
	font-size: 24px;
	padding-left: 550px;
	padding-right: 550px;
}